<h1>Todos</h1>

<% @todos.each do |todo| %>	
	<div class="row">	
		<div class="col-md-6">
			<% if todo.completed == true %>
				<%= todo.description %> 
				<p>SI</p>
			<% end %>
		</div>
			
		<div class="col-md-6">
			<% if todo.completed == false %>
				<%= todo.description %> 
				<p>NO</p>
			<% end %>
		</div>
	</div>
<% end %>

<%= link_to 'Crear ToDo', todos_new_path, class: "btn btn-warning" %>
